.TTT{
    font-family: "Integral CF Regular";
     margin-left: 55px;
}

.mainCart{
    width: 715px;
    height: 508px;
    background-color: white;
    margin-left: 60px;
    margin-top: 30px;
    border: 1px solid #0000001A ;
    border-radius: 20px;

}

.WWW hr{
    position: relative;
    top: -160px;
    width: 660px;
    margin-left: 25px;
    border: 1px solid #0000001A;
}

.imgCart{
    margin-top: 25px;
    margin-left: 25px;
    border-radius: 10px ;
}

.WWW h3{
    position: relative;
    margin-left: 170px;
    top: -125px;
}

.WWW p{
    position: relative;
    margin-left: 170px;
    top: -120px;
}

.WWW .AWA{
    position: relative;
    margin-left: 170px;
    top: -117px;
}

.imgCart2{
    position: relative;
    margin-left: 670px;
    top: -240px;
}

.III{
   position: relative;
   margin-left: 168px;
   top: -110px;
}

.One{
    position: relative;
    margin-left: 570px;
    top: -180px;
    width: 120px;
    height: 44px;
    background-color: #F0F0F0;
    text-align: center;
    border-radius: 62px;
}





.WWW2 .Hr{
position: relative;
top: -295px;
width: 660px;
margin-left: 25px;
border: 1px solid #0000001A;
}

.imgCart3{
    position: relative;
    top: -135px;
margin-top: 0px;
margin-left: 25px;
border-radius: 10px ;
}

.WWW2 h3{
position: relative;
margin-left: 170px;
top: -260px;
}

.WWW2 p{
position: relative;
margin-left: 170px;
top: -256px;
}

.WWW2 .AWA2{
position: relative;
margin-left: 170px;
top: -253px;
}

.imgCart4{
position: relative;
margin-left: 670px;
top: -370px;
}

.III2{
position: relative;
margin-left: 168px;
top: -246px;
}

.Two{
position: relative;
margin-left: 570px;
top: -315px;
width: 120px;
height: 44px;
background-color: #F0F0F0;
text-align: center;
border-radius: 62px;
}




.imgCart5{
position: relative;
top: -280px;
margin-top: 0px;
margin-left: 35px;
border-radius: 10px ;

}

.WWW3 h3{
position: relative;
margin-left: 170px;
top: -400px;
}

.WWW3 p{
position: relative;
margin-left: 170px;
top: -395px;
}

.WWW3 .AWA3{
position: relative;
margin-left: 170px;
top: -391px;
}

.imgCart6{
position: relative;
margin-left: 670px;
top: -512px;
}

.III3{
position: relative;
margin-left: 168px;
top: -390px;
}

.Three{
position: relative;
margin-left: 570px;
top: -473px;
width: 120px;
height: 44px;
background-color: #F0F0F0;
text-align: center;
border-radius: 62px;
}


.order{
     position: relative;
    width: 505px;
    height: 458px;
    border: 1px solid #0000001A ;
    margin-left: 800px;
    top: -507px;
    border-radius: 20px;
}


.order1{
    position: relative;
    margin-top: 13px;
    margin-left: 20px;
}


.del{
    position: relative;
    margin-top: 26px;
    margin-left: 23px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.dis{
    position: relative;
    margin-top: 23px;
    margin-left: 23px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.sub{
    position: relative;
    margin-top: 20px;
    margin-left: 23px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;

}


.five{
    position: relative;
    top: -130px;
    margin-left: 440px;
    font-size: 20px;
    
}


.live{
    position: relative;
    top: -105px;
    margin-left: 440px;
    font-size: 20px;
    color: red;
}


.kife{
    position: relative;
    top: -80px;
    margin-left: 452px;
    font-size: 20px;
}


.line{
    border: 1px solid #0000001A;
    width: 459px;
    margin-left: 23px;
    position: relative;
    top: -58px;
}


.tot{
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 23px;
    font-size: 25px;
    top: -37px;
}


.RTX{
    position: relative;
    margin-left: 425px;
    top: -67px;
    font-size: 25px;
}

.add{
    position: relative;
    margin-left: 23px;
    width: 326px;
    height: 48px;
    background-color: #F0F0F0;
    border-radius: 62px;
    top: -45px;
}

.inp{
    position: relative;
    margin-left: 46px;
    width: 280px;
    height: 48px;
    border-radius: 62px;
    border: none;
    background-color: #F0F0F0;
}

.imgCart7{
    position: relative;
    top: -34px;
    margin-left: 12px;
    color: #F0F0F0;
}

.but{
    position: relative;
    width: 119px;
    height: 48px;
    border-radius: 62px;
    border: none;
    margin-left: 365px;
    top: -70px;
    border: 1px solid transparent;
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 62px;
    transition: .3s all;
    top: -91px;
}

.but:hover{
    background-color: #FFFFFF;
    color: #000000;
    border: 1px solid #0000001A;
}

.butto{
    position: relative;
    margin-left: 26px;
    top: -70px;
    width: 457px;
    height: 60px;
    border-radius: 62px;
    border: 1px solid transparent;
    background-color: #000000;
    color: #FFFFFF;
    transition: .3s all;
}

.butto:hover{
    background-color: #FFFFFF;
    color: #000000;
    border: 1px solid #0000001A;
}